@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(
  https://fonts.googleapis.com/css?family=Droid+Serif:400,
  700,
  400italic
);
@import url(
  https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,
  700,
  400italic
);

body {
  font-family: "Ubuntu";
}
h1,
h2,
h3 {
  font-family: "Yanone Kaffeesatz";
  font-weight: normal;
}
.remark-code,
.remark-inline-code {
  font-family: "Operator Mono";
}

.remark-code-line-highlighted {
  background-color: rgba(83, 83, 83, 0.5);
}

#slides-qr {
  width: 450px;
  height: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
